@import "fonts.css";

body {
    font: Bold 18px/24px 'Segoe UI';
    color: #514442;
    height: 100vh;
}

label, p, ul, li {
    margin: 0;
    padding: 0;
}

input {
    outline: transparent;
}

a {
    display: block;
}

img {
    width: 100%;
}

button:focus {
    outline: transparent;
}

.main_title {
    margin-bottom: 30px;
}

.top_control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 27px;
    width: 85%;
    right: 0;
    left: 0;
    margin: auto;
}

.top_control .arrow_back {
    background: #fff;
    box-shadow: 6px 6px 12px #00000026;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    text-align: center;
    font: Normal 20px/50px 'Font Awesome';
}

.top_control .close_btn {
    width: 49px;
    height: 49px;
    line-height: 50px;
    text-align: center;
    margin-left: auto;
}

.top_control .close_btn img {
    width: 14px;
}

/*---loader---*/
#loader_display {
    height: 100vh;
}

.loader,
#registrationWaiting_display {
    background-image: url("/images/Loader.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    position: relative;
}

#registrationWaiting_display.thanksWaiting_display {
    background-image: url("/images/buyer_waiting_success.png");
    background-size: cover;
}

.loader_image {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: -135px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

/*---loader---*/

/*---registration---*/
#registration_display {
    background-color: #FBC436;
    padding-top: 30px;
    height: 100%;
}

.registration {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.registration_image {
    width: fit-content;
    height: fit-content;
    margin: 0 auto 28px;
}

.registration_box {
    background-color: #fff;
    box-shadow: 0 0 12px #00000029;
    border-radius: 40px 40px 0 0;
    padding: 30px 35px 17px;
    margin-top: auto;
}

.registration_box-form {
    max-width: 342px;
    width: 100%;
    margin: 0 auto;
}

.registration_box-form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #707070;
    padding-bottom: 10px;
    padding-left: 33px;
}

.email_input,
.pass_input,
.address_input,
.outlet_input,
.description_input {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.address_input {
    margin-bottom: 40px;
}

.email_input:before,
.pass_input:before,
.address_input:before,
.outlet_input:before,
.description_input:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 10px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.email_input:before {
    width: 18px;
    height: 13px;
    background-image: url("/images/email.svg");
}

.pass_input:before {
    margin: auto;
    width: 18px;
    height: 24px;
    background-image: url("/images/password.svg");
}

.address_input:before {
    margin: auto;
    width: 14px;
    height: 21px;
    left: 4px;
    background-image: url("/images/location.svg");
}

.outlet_input:before {
    margin: auto;
    width: 22px;
    height: 22px;
    background-image: url("/images/alert.svg");
}

.description_input:before {
    margin: auto;
    width: 18px;
    height: 18px;
    background-image: url("/images/pencil.svg");
}

.custom_check input[type="checkbox"] {
    display: none;
}

.custom_check input[type="checkbox"]:checked,
.custom_check input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.custom_check input[type="checkbox"]:checked + label,
.custom_check input[type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 33px;
    cursor: pointer;
    display: inline-block;
}

.custom_check input[type="checkbox"]:checked + label:before,
.custom_check input[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #514442;
    background: #fff;
}

.custom_check input[type="checkbox"]:checked + label:after,
.custom_check input[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 16px;
    height: 16px;
    background: #FBC436;
    position: absolute;
    top: 4px;
    left: 3px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.custom_check input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.custom_check input[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.signUp_btns {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-weight: 100;
    outline: transparent;
}

.signUp_btns a {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    padding: 0 15px;
}

.signUp_btns a:hover {
    color: #fff;
    text-decoration: none;
}

.signUp_btns img {
    width: 30px;
    height: 30px;
    margin-right: 35px;
}

.signUp_btns-fb {
    margin-bottom: 15px;
    background: #3c5899;
}

.signUp_btns-gl {
    background: #de4b39;

}

.agreement_check {
    margin: 20px 0;
}

.agreement_check label {
    font: Normal 14px/19px 'Segoe UI';
}

.registration_submit {
    background: #FBC436;
    box-shadow: 10px 10px 20px #00000026;
    border-radius: 30px;
    border: none;
    color: #fff;
    width: 100%;
    padding: 18px;
    text-align: center;
    font: Bold 18px/24px 'Segoe UI';
}

#main_container,
#registrationStep3_display {
    height: 100%;
}

.map_container {
    position: relative;
}

.map_container .registration_box {
    position: absolute;
    padding: 10px 36px 18px;
    background: #fff;
    bottom: 0;
    width: 100%;
    border-radius: 40px 40px 0 0;
}

.map_container .registration_box span {
    display: block;
    height: 4px;
    width: 46px;
    background: #AFAFAF;
    border-radius: 3px;
    margin: 0 auto 16px;
}

#registrationStep3_display {
    padding: 18px 36px;
}

.register_coffeeHouse {
    padding-top: 90px;
    height: 100%;
}

.upload_logo {
    width: 166px;
    height: 106px;
    margin: 38px auto;
    background-image: url("/images/upload.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#registrationStep3_display .registration_box-form label:last-of-type {
    margin-bottom: 0;
}

#registrationStep3_display .registration_box-form .address_input {
    margin-bottom: 25px;
}

#registrationStep3_display .registration_box-form .registration_submit {
    margin-top: 140px;
    margin-bottom: 15px;
}

.waiting_content {
    padding: 0 35px;
}

.waiting_image {
    width: fit-content;
    margin: 0 auto 32px;
    height: fit-content;
    box-shadow: 10px 10px 20px #00000029;
    border-radius: 50%;
}

.waiting_content {
    padding: 0 35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.thanksWaiting_display .waiting_content {
    top: -135px;
}

.waiting_text {
    text-align: center;
    font: Normal 16px/21px 'Segoe UI';
    color: #fff;
}

/*---registration---*/

/*---main map---*/
.main_menu {
    position: fixed;
    padding: 23px 36px 21px;
    background: #fff;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 10px #00000029;
}

.main_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_menu-item:not(:last-of-type) {
    margin-right: 52px;
}

.main_menu-item:nth-child(2) {
    margin-right: 118px;
}

.main_menu-item.main_menu-item_active path {
    stroke: #FBC436;
}

.main_menu-item svg {
    height: 100%;
}

.main_menu-center {
    position: absolute;
    width: 76px;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
}

.main_menu-item_center {
    box-shadow: 6px 6px 12px #00000029;
    border-radius: 50%;
}

/*---main map---*/

/*---notes---*/
.rate_container {
    padding: 24px 7px 120px;
}

.rate {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.rate-item {
    background: #FFFFFF;
    border: 1px solid #FBC436;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    font: Normal 18px/24px 'Segoe UI';
}

.rate-item span:last-of-type {
    font: 600 14px/26px 'Segoe UI';
}

.rate-item:not(:last-of-type) {
    margin-bottom: 15px;
}

.notes-item {
    width: 100%;
    background: #fff;
    box-shadow: 3px 3px 8px #0000001A;
    border-radius: 5px;
    padding: 10px 50px 10px 16px;
    margin-bottom: 20px;
}

.notes-item input[type="checkbox"]:checked + label,
.notes-item input[type="checkbox"]:not(:checked) + label {
    padding-left: 0;
    width: 100%;
}

.notes-item input[type="checkbox"]:checked + label:before,
.notes-item input[type="checkbox"]:not(:checked) + label:before {
    right: -37px;
    left: auto;
    border: 1px solid #FBC436;
    border-radius: 50%;
}

.notes-item input[type="checkbox"]:checked + label:after,
.notes-item input[type="checkbox"]:not(:checked) + label:after {
    right: -31px;
    top: 8px;
    left: auto;
    content: '';
    width: 10px;
    height: 7px;
    background: url(/images/check.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*---notes---*/
/*---notification---*/
.notification_container {
    padding: 116px 14px 120px;
}

.notification_main-title {
    text-align: center;
    font: 600 20px/27px 'Segoe UI';
    position: relative;
    margin-bottom: 50px;
}

.notification_main-title:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 28px;
    height: 1px;
    background: #FBC436;
}

.notification-item {
    background: #fff;
    box-shadow: 3px 3px 8px #0000001A;
    border-radius: 5px;
    padding: 10px 10px 6px 16px;
    margin-bottom: 20px;
}

.notification-item_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
}

.notification-item_header p {
    font: 600 18px/24px 'Segoe UI';
    position: relative;
    width: 65%;
}

.notification-item_header p:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 28px;
    height: 1px;
    background: #FBC436;
}

.notification-item_header span {
    font: Normal 14px/16px 'Segoe UI';
    color: #7A7A7A;
    width: 30%;
}

.notification-item_content {
    font: Normal 14px/19px 'Segoe UI';
    color: #C2C2C2;
    width: 85%;
}

/*---notification---*/

/*---history---*/
.history_container {
    padding: 40px 7px 120px;
}

.total_cup {
    margin-bottom: 21px;
}

.total_cup img {
    display: block;
    width: 140px;
    margin: 0 auto 15px;
    box-shadow: 10px 10px 20px #FBC43675;
    border-radius: 50%;
}

.total_cup-title {
    text-align: center;
    font: Normal 18px/24px 'Segoe UI';
}

.total_cup-counter {
    text-align: center;
    font: 600 18px/24px 'Segoe UI';
    color: #FBC436;
}

.his_months-item {
    margin-bottom: 15px;
}

.his_months-item_title {
    font: 600 18px/24px 'Segoe UI';
    color: #fff;
    background: #FBC436;
    box-shadow: 3px 3px 12px #FBC43669;
    border-radius: 5px;
    padding: 10px 28px 10px 16px;
    position: relative;
}

.his_months-item_title:after {
    content: "";
    font-size: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30px;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 14px solid #fff;
    transform: rotate(-180deg);
    transition: .3s;
}

.his_months-item_title.active_month:after {
    transform: rotate(0);
    transition: .3s;
}

.his_months-list {
    display: none;
}

.his_months-descr {
    padding: 18px 15px;
    border-bottom: 1px solid #C8C8C8;
}

.his_months-descr_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.his_months-descr_header p {
    font: 600 18px/24px 'Segoe UI';
    position: relative;
}

.his_months-descr_header p:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 28px;
    height: 1px;
    background: #FBC436;
}

.his_months-descr_header-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.his_months-descr_header-date img {
    width: 22px;
    margin-bottom: 5px;
}

.his_months-descr_header-date span {
    text-align: center;
    font: Normal 14px/16px 'Segoe UI';
    color: #7A7A7A;
}

.his_months-descr_footer-address {
    display: flex;
    justify-content: space-between;
}

.his_months-descr_footer-address span {
    font: Normal 14px/19px 'Segoe UI';
    color: #C2C2C2;
}

/*---history---*/

/*---profile---*/
.profile {
    height: 100%;
}

.profile_container {
    height: 100%;
}

.profile_image {
    object-fit: cover;
    width: 100%;
    height: 284px;
    object-position: top;
}

.profile_nav {
    box-shadow: 0 -6px 12px #00000029;
    margin-top: -40px;
    position: relative;
    padding: 20px 28px 100px;
    background: #fff;
    width: 100%;
    border-radius: 40px 40px 0 0;
}

.profile_name {
    text-align: center;
    font: 600 20px/27px 'Segoe UI';
    max-width: 275px;
    width: 100%;
    margin: 0 auto 10px;
}

.profile_contacts {
    text-align: center;
    font: Normal 18px/24px 'Segoe UI';
    margin-bottom: 50px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile_description.profileCustomer_description,
.profile_contacts.profileCustomer_contacts {
    margin-bottom: 20px;
}

.profile_description {
    font: Normal 14px/19px 'Segoe UI';
}

.profile_contacts a {
    color: #514442;
}

.profile_contacts:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 28px;
    height: 1px;
    background: #FBC436;
}

.profile_controls {
    display: flex;
    flex-direction: column;
}

.profile_controls li {
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    align-items: center;
}

.profile_controls li img {
    width: 19px;
    margin-right: 8px;
}

.profile_controls li a {
    font: Normal 20px/27px 'Segoe UI';
    color: #514442;
}

.profile_controls li a:hover {
    text-decoration: none;
}

.qr_container {
    padding: 72px 32px 77px;
}

.qr_code {
    width: 254px;
    display: block;
    margin: 0 auto;
}

.qr_container .custom_check input[type="checkbox"]:checked + label,
.qr_container .custom_check input[type="checkbox"]:not(:checked) + label {
    font: Normal 20px/27px 'Segoe UI';
    width: 100%;
    padding-left: 23px;
}

.qr_container .custom_check input[type="checkbox"]:checked + label:before,
.qr_container .custom_check input[type="checkbox"]:not(:checked) + label:before {
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    border: 1px solid #514442;
    border-radius: 50%;
}

.qr_container .custom_check input[type="checkbox"]:checked + label:after,
.qr_container .custom_check input[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 6px;
    left: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: url('/images/check_w.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.qr_check {
    margin: 0 0 30px;
}

.counter_block {
    background: #fff;
    box-shadow: 6px 6px 12px #00000029;
    border-radius: 5px;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter_block-input {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter_block-input span {
    background: #514442;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font: Normal 20px/27px 'Segoe UI';
    width: 32px;
    height: 32px;
}

.counter_block-input input {
    background: #fff;
    border: 1px solid #514442;
    width: 48px;
    height: 48px;
    margin: 0 15px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.counter_block-input input,
.counter_block-input input::-webkit-input-placeholder,
.counter_block-input input::-ms-input-placeholder,
.counter_block-input input::-ms-input-placeholder,
.counter_block-input input::placeholder {
    font: 600 25px/33px 'Segoe UI';
    color: #514442;
}

.counter_block-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter_block-controls_submit {
    margin-left: 37px;
}

/*---profile---*/

/*---modal---*/
#modal_form {
    border-radius: 5px;
    background: transparent;
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

/* Кнопка закрыть для тех кто в танке) */
#modal_form #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}

/* Подложка */
#overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.modal_content {
    background: #fff;
    box-shadow: 3px 3px 6px #00000029;
    border-radius: 5px;
    position: relative;
    padding: 10px 16px 20px;
    margin-bottom: 100px;
}

.coffeeLogo {
    width: 88px;
    margin: 0 auto 4px;
}

.coffeeTitle {
    font: 600 20px/27px 'Segoe UI';
    color: #514442;
    position: relative;
    margin-bottom: 28px;
}

.coffeeTitle:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 28px;
    height: 1px;
    background: #FBC436;
}

.coffeeDescription {
    font: Normal 14px/19px 'Segoe UI';
    margin-bottom: 7px;
}

.coffeeImages {
    display: flex;
    align-content: center;
    overflow: scroll;
    margin-bottom: 18px;
}

.coffeeImages img:not(:last-of-type) {
    margin-right: 10px;
}

.coffeeRoute {
    display: flex;
    align-items: center;
    text-align: center;
    font: bold 12px/16px 'Segoe UI';
    color: #FBC436;
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto;
}

.coffeeRoute img {
    width: 19px;
    margin-left: 10px;
}

.modal_search {
    background: #fff;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    width: 100%;
}

.modal_search img {
    width: 19px;
}

.modal_search input {
    border: none;
    font: Normal 18px/24px 'Segoe UI';
    color: #C8C8C8;
}

.modal_search input::-webkit-input-placeholder,
.modal_search input::-ms-input-placeholder,
.modal_search input::-ms-input-placeholder,
.modal_search input::placeholder {
    color: #c8c8c8;
}

/*---modal---*/

/*---media---*/
@media screen and (max-width: 413px) {
    .main_menu-item:not(:last-of-type),
    .main_menu-item:nth-child(2) {
        margin-right: 30px;
    }

    .main_menu-item {
        width: 20px;
    }

    .main_menu-item svg {
        width: 100%;
    }

    .main_menu-center {
        width: 50px;
        top: -25px;
    }
}

@media screen and (max-width: 360px) {
    #registrationStep3_display .registration_box-form .registration_submit {
        margin-top: 50px;
        font-size: 16px;
    }

    .counter_block {
        flex-direction: column;
    }

    .counter_block-controls {
        margin-top: 15px;
    }

    .qr_container {
        padding: 72px 32px 115px;
    }

    .qr_container .custom_check input[type="checkbox"]:checked + label, .qr_container .custom_check input[type="checkbox"]:not(:checked) + label {
        font: Normal 16px/27px 'Segoe UI';
    }
}

/*---media---*/